@use '../variables';

app-bar {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  color: variables.$clr-text;

  .brand {
    flex-grow: 1;
  }

  .nav-list {
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: variables.$clr-primary;

    .nav-item a {
      font-size: 2rem;
      color: white;
      font-family: variables.$font-Raleway;

      &:hover,
      &:focus {
        color: variables.$clr-accent;
        text-decoration: underline;
      }
    }

    &.open {
      width: 100%;
    }

    .menu-close {
      position: absolute;
      top: 1rem;
      right: 2rem;
    }
  }

  @media screen and (min-width: variables.$medium-screen) {
    .nav-list {
      all: initial;
      display: flex;

      .nav-item a {
        font-size: 1.5rem;
      }
    }

    .menu-close,
    .menu-open {
      display: none;
    }
  }
}
