@use '../variables';

hero-bar {
  background-image: linear-gradient(rgba(0, 66, 37, 0.2), rgba(0, 66, 37, 0.1)),
    url('../assets/images/hero/hero-image-min-small.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: variables.$clr-text;
  text-shadow: 1px 1px 1px variables.$clr-primary;

  .hero-text {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: variables.$gap;
  }

  @media screen and (min-width: variables.$medium-screen) {
    background-image: linear-gradient(rgba(0, 66, 37, 0.2), rgba(0, 66, 37, 0.1)),
    url('../assets/images/hero/hero-image-min.jpg');
  }
}
