<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Restaurant</title>
  </head>
  <body>
    <a class="skip-to-content" href="#main-content">Skip to Content</a>
    <header>
      <app-bar></app-bar>
    </header>
    <hero-bar></hero-bar>

    <main id="main-content">
      <section id="explore-restaurant">
        <h2 class="explore-restaurant-title cursive-text">
          Explore Our Restaurants
        </h2>

        <restaurant-list> </restaurant-list>
      </section>
    </main>

    <footer-element></footer-element>
  </body>
</html>
