<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Restaurant</title>
    <meta
      name="description"
      content="Selamat datang di My Restaurant Catalog, di sini Anda dapat menemukan berbagai restoran dengan berbagai macam masakan yang lezat. Jelajahi daftar restoran favorit Anda dan temukan tempat makan yang sempurna untuk setiap kesempatan."
    />
    <meta name="author" content="Dhimas Sahid Pangestu" />
    <meta
      name="keywords"
      content="restoran, makanan, menu, masakan, tempat makan, katalog restoran"
    />
  </head>
  <body>
    <a class="skip-to-content" href="#main-content">Skip to Content</a>
    <header>
      <app-bar></app-bar>
    </header>
    
    <hero-bar></hero-bar>

    <main id="main-content"></main>

    <footer-element></footer-element>
  </body>
</html>
