@use 'variables';

body {
  font-family: variables.$font-Raleway;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-block;
}

a,
button {
  min-width: 44px;
  min-height: 44px;
  line-height: 44px;
  padding: 0 1rem;
  cursor: pointer;
  text-decoration: none;
  color: variables.$clr-text;
}

button {
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

a,
button {
  &:focus,
  &:hover {
    outline: 2px solid variables.$clr-accent;
  }
}

.text-cursive {
  font-family: variables.$font-Pacifico;
}

.text-bold {
  font-weight: 800;
}

.text-italic {
  font-style: italic;
}

.card {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid variables.$clr-border;
}

@media screen and (min-width: variables.$medium-screen) {
  h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: variables.$large-screen) {
  h2 {
    font-size: 3rem;
  }
}
