$clr-primary: #004225;
$clr-bg: #fcecda;
$clr-accent: #ffb000;
$clr-border: #004225;
$clr-text: #f5f5dc;

$font-Raleway : 'Raleway', sans-serif;
$font-Pacifico : 'Pacifico', cursive;
$fs-base: 16px;

$gap: 1rem;
$gap-half: calc($gap / 2);


$medium-screen : 801px;
$large-screen : 1201px;