*,
::before,
::after {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --clr-primary: #004225;
    --clr-bg: #fcecda;
    --clr-accent: #FFB000;
    --clr-border: #004225;
    --clr-text: #F5F5DC;

    --fs-base: 16px;

    --gap: 1rem;
    --gap-half: calc(var(--gap) / 2);
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

a,
button {
    min-width: 44px;
    min-height: 44px;
    line-height: 44px;
    padding: 0 1rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-text);
}

button {
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

button:is(:focus, :hover) {
    outline: 2px solid var(--clr-accent);
}

.cursive-text {
    font-family: 'Pacifico', cursive;
}